@import '../../styles/settings.scss';

.habits-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .habit {
    width: 15rem;
    font-size: 1.2rem;
    margin: 1rem;
    padding: 1.2rem;
    background-color: $color-light;
    border-radius: 0.5rem;
    box-shadow: $box-shadow;

    .justify-end {
      justify-content: flex-end;
    }

    .justify-space-between {
      justify-content: space-between;
    }
  }
}
