@import '../../styles/global.scss';

.habit-info-wrapper {
  @include popup-styles;

  .formatting-option {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;

    h3 {
      font-size: 1.2rem;
      color: $color-important-secondary;
    }

    .show {
      color: $color-primary;
      font-weight: bold;
    }

    button {
      display: flex;
      align-items: center;
      margin-left: 1rem;
      font-size: 1.5rem;
    }

    .btn-left {
      color: $color-important-secondary;
    }

    .btn-right {
      color: $color-primary;
    }
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9;
  }

  .habit-form-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: $color-light;
    padding: 2rem;
    box-shadow: 0 0 .1rem rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
  }

  .habits-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .habit {
      width: 15rem;
      font-size: 1.2rem;
      margin: 1rem;
      padding: 1.2rem;
      background-color: $color-lighter;
      border-radius: 0.5rem;
      box-shadow: $box-shadow;

      .justify-end {
        justify-content: flex-end;
      }

      .justify-space-between {
        justify-content: space-between;
      }

      &.habit-today {
        width: 100%;

        @include respond-medium {
          width: 15rem;
         
        }
      }
    }
  }

  .show-form {
    filter: blur(4px);
  }
}
