@import '../../styles/global.scss';

.habit-form-close-btn {
  position: absolute;
  top: 0;
  right: 0;
  background-color: $color-important-secondary;
  color: $color-light;
  border: none;
  font-size: 1rem;
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: $box-shadow;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s cubic-bezier(0, 0, 0, 1);

  &:hover {
    background-color: $color-error;
    transform: rotate(180deg);
  }
}

.habit-form {
  display: flex;
  flex-direction: column;
  width: 20rem;
  margin: 2rem 0;
  font-family: $font-family-secondary;

  label {
    color: $color-important-secondary;
    margin: 0.5rem 0;
  }

  input {
    border: 1px solid $color-important-secondary;
    padding: 0.5rem;
    background-color: $color-lighter;
  }

  .warning-text {
    font-weight: bold;
    color: $color-error;
  }

  select {
    border: 1px solid $color-important-secondary;
    padding: 0.5rem;
    background-color: $color-lighter;
  }

  p {
    margin-top: 0.5rem;
  }

  .days-label {
    display: flex;
    align-items: center;

    margin-bottom: 1rem;
    cursor: pointer;

    input[type='checkbox'] {
      visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
    }

    .days-checkbox {
      height: 1rem;
      width: 1rem;
      border: 0.1rem solid rgba($color-important-primary, 0.5);

      &::after {
        content: '';
        position: absolute;
        display: none;
      }
    }

    &:hover input ~ .days-checkbox {
      background-color: rgba($color-important-primary, 0.5);
    }

    input:checked ~ .days-checkbox {
      background-color: $color-important-primary;
    }

    input:checked ~ .days-checkbox::after {
      display: block;
    }

    .day {
      margin-left: 0.5rem;
    }
  }

  button {
    align-self: center;
    margin: 1rem;
    width: max-content;
    font-family: $font-family-secondary;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 2rem;
    background-color: $color-primary;
    color: $color-light;
  }

  @include respond-medium {
    width: 15rem;
    margin: 1rem 0;
  }
}
