@import '../../styles/global.scss';

.landing-page {
  height: 100vh;
  font-family: $font-family-secondary;
  text-align: center;
  background-color: $color-light;
  overflow: hidden;

  .app-name {
    font-family: $font-family-primary;
    font-size: 3rem;
    margin: 2rem 0;
  }

  .cta-button {
    position: relative;
    text-transform: uppercase;
    font-family: $font-family-secondary;
    padding: 0.8rem 1.8rem;
    font-size: 1.2rem;
    border-radius: 2rem;
    background-color: $color-primary;
    color: $color-light;
    border: 0.5rem solid $color-primary;
    transition: all 0.3s ease-out;

    &:hover {
      color: $color-primary;
      font-weight: bold;
    }

    &:focus {
      color: $color-primary;
      font-weight: bold;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      width: 0;
      height: 100%;
      background-color: $color-light;
      border-radius: 2rem;
      transition: all 0.3s ease-out;
    }

    &:hover::before {
      left: 0;
      width: 100%;
    }

    &:hover::after {
      content: 'GET STARTED';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
    }

    &:focus::before {
      left: 0;
      width: 100%;
    }

    &:focus::after {
      content: 'GET STARTED';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
    }
  }

  .app-description {
    margin: 2rem 0;
    font-size: 1.2rem;
  }
}

.img-container {
  background-size: contain;
  margin: 1rem;
  padding-bottom: 2rem;

  .winner {
    max-width: 100%;
    height: auto;
  }
}
