@import './typography.scss';

$color-light: #f6f4f5;
$color-lighter: #fbf9fa;
$color-dark: #1b1c1e;
$color-important-primary: #154181;
$color-important-secondary: #415081;
$color-primary: #4acb86;
$color-error: #e86a7a;
$color-warning: #70b5ff;

$font-family-primary: 'Anton', sans-serif;
$font-family-secondary: 'Work Sans', sans-serif;

$box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
$transition: 0.3s ease;

@mixin respond-large {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin respond-medium {
  @media (max-width: 1023px) {
    @content;
  }
}

@mixin respond-small {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin popup-styles {
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9;
  }

  .confirm-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: $color-light;
    border-radius: 0.5rem;
    padding: 1.5rem;
    box-shadow: $box-shadow;
    text-align: center;
    width: 80%;
    max-width: 400px;

    p {
      font-size: 1.1rem;
      margin-bottom: 1rem;
    }

    .btn-confirm {
      color: $color-light;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      border: 1px solid $color-important-secondary;
      margin: 0 0.5rem;
      cursor: pointer;
      transition: $transition;
      background-color: rgba($color-important-secondary, 0.8);

      &:hover {
        background-color: $color-important-primary;
      }
    }
  }
}

.login-btn,
.logout-btn {
  font-family: $font-family-secondary;
  padding: 0.5rem 1.2rem;
  font-size: 1rem;
  border-radius: 1.5rem;
  background-color: transparent;
  color: $color-primary;
  border: 0.3rem solid $color-primary;
  transition: all 0.3s ease-out;

  &:hover {
    background-color: $color-primary;
    color: $color-light;
  }

  &:focus {
    background-color: $color-primary;
    color: $color-light;
  }
}

.logout-btn {
  margin-left: 1rem;
}

.loading-message {
  font-family: $font-family-secondary;
  font-size: 1.5rem;
  color: $color-important-secondary;
  text-align: center;
  margin-top: 3rem;
}
