@import './typography.scss';

$color-light: #f6f4f5;
$color-primary: #4d7e3e;
$color-important-primary: #154181;
$color-important-secondary: #415081;
$color-error: #811541;
$color-warning: #b18a0b;

$font-family-primary: 'Anton', sans-serif;
$font-family-secondary: 'Work Sans', sans-serif;

$box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
$transition: all 0.5s;