@import './typography.scss';

$color-light: #f6f4f5;
$color-dark: #1B1C1E;
$color-important-primary: #154181;
$color-important-secondary: #415081;
// $color-error: #811541;
// $color-warning: #b18a0b;
// $color-primary: #4d7e3e;

$color-primary: #4acb86;
$color-error:#E86A7A;
// $color-warning: #f0b83ed6;
$color-warning: #70b5ff;

$font-family-primary: 'Anton', sans-serif;
$font-family-secondary: 'Work Sans', sans-serif;

$box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
$transition: all 0.5s;