@import '../../styles/settings.scss';

.heatmap {
  width: 20rem;
  font-family: $font-family-secondary;
  text-align: center;

  .color-empty {
    fill: #a9a9a9;
  }

  .color-scale-1 {
    fill: #c5e1a5;
  }
  .color-scale-2 {
    fill: #aed581;
  }
  .color-scale-3 {
    fill: #9ccc65;
  }
  .color-scale-4 {
    fill: #8bc34a;
  }
  .color-scale-5 {
    fill: #1e6823;
  }
}
