@import '../../styles/global.scss';

.habit-edit-form {
  .label-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    label {
      font-weight: bold;
      margin: 0.5rem;
    }

    .x-icon {
      margin-left: 0.8rem;
      transition: $transition;

      &:hover {
        cursor: pointer;
        color: $color-warning;
      }
    }
  }

  input {
    width: 100%;
    font-size: 1.1rem;
    border-radius: 0.5rem;
    margin: 0.4rem 0.3rem 0.4rem 0rem;
    padding: 0.4rem;
  }

  .warning-text {
    font-size: 0.9rem;
    font-weight: bold;
    color: $color-error;
  }

  .days-label-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0.5rem;

    .days-label {
      display: flex;
      align-items: center;
      font-weight: normal;
      margin-bottom: 0.5rem;
      cursor: pointer;

      input[type='checkbox'] {
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
      }

      .days-checkbox {
        height: 1rem;
        width: 1rem;
        border: 0.1rem solid rgba($color-important-primary, 0.5);

        &::after {
          content: '';
          position: absolute;
          display: none;
        }
      }

      &:hover input ~ .days-checkbox {
        background-color: rgba($color-important-primary, 0.5);
      }

      input:checked ~ .days-checkbox {
        background-color: $color-important-primary;
      }

      input:checked ~ .days-checkbox::after {
        display: block;
      }

      .day {
        margin-left: 0.5rem;
        font-size: 1rem;
      }
    }
  }

  button {
    align-self: center;
    margin-top: 1rem;
    width: max-content;
    font-family: $font-family-secondary;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 2rem;
    background-color: $color-primary;
    color: $color-light;
  }
}
