@import '../../styles/global.scss';

.habit-completion-wrapper {

  @include popup-styles;

  .habit-header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    h3 {
      overflow-wrap: break-word;
      hyphens: auto;
      font-weight: bold;
      width: 8rem;
      text-align: left;
      margin-left: 0.3rem;
    }

    .option-icons {
      display: flex;
      align-items: center;

      .edit-icon {
        margin-left: 0.8rem;
        transition: $transition;

        &:hover {
          cursor: pointer;
          color: $color-warning;
        }
      }

      .delete-icon {
        margin-left: 0.8rem;
        transition: $transition;

        &:hover {
          cursor: pointer;
          color: $color-error;
        }
      }
    }
  }

  .btn-container {
    display: flex;
    flex-direction: column;

    .single-btn-container {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;

      .day-btn {
        position: relative;
        width: 100%;
        margin-right: 1rem;
        padding: 0.5rem 1rem;
        font-size: 1.1rem;
        border: none;
        border-radius: 0.5rem;
        color: $color-light;
        background-color: $color-error;
        box-shadow: $box-shadow;
        transition: $transition;
      }

      .completed {
        background-color: $color-primary;
        box-shadow: $box-shadow;
      }

      .uncompleted {
        background-color: $color-error;
        box-shadow: $box-shadow;
      }

      .upcoming {
        background-color: $color-warning;
        box-shadow: $box-shadow;
      }

      .check-icon {
        color: $color-primary;
      }

      .x-icon {
        color: $color-error;
      }

      .circle-icon {
        color: $color-warning;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}
