@import '../../styles/global.scss';

.habits-today-wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;

  .habit {
    &.habit-today {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-width: 80%;

      h3 {
        font-weight: bold;
        color: $color-dark;
        overflow-wrap: anywhere;
        text-align: left;
      }

      .habit-completed-btn {
        color: $color-dark;
        display: flex;
        align-items: center;
        padding: 0.5rem;
        font-size: 1.5rem;
      }

      &.habit-completed {
        background-color: rgba($color-dark, 0.1);

        h3 {
          font-weight: normal;
          color: rgba($color-dark, 0.5);
        }
      }
    }
  }
}

.strikethrough {
  text-decoration: line-through;
}
